flask
flask-cors
flask-socketio
eventlet

ultralytics
opencv-python
pillow
torch
torchvision
pyautogui

# Gemini AI for Planner Model
google-generativeai

# Environment variable management
python-dotenv
